@charset "UTF-8";

body {
    font-size: 14px;
    padding-top: 60px;
    text-align: justify;
}

/* Landing page (lp) */
.lp {
    background-color: #003c71!important;
}

.lp-row{
    padding-top: 15px;
    text-align: center;
    display: block;
    position: relative;
    color: #eee;
}

.lp-pic{
    width: 125px;
    margin-bottom: 25px;
    border-radius: 100%;
}

.lp-logo{
    width: 85px;
}

.lp-title, .lp-icons{
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 14px;
}

.lp-subtitle{
    font-size: 1.15rem;
    color: #ccc;
}

.lp-link {
    color: #ddd;
}

.lp-link:hover {
    color: #528aa7;
    text-decoration: none;
}

.lp-btn {
    font-size: .85rem;
    font-weight: 500;
    margin: 2px;
    background-color: #acb8d7;
}

.lp-btn:hover {
    text-decoration: none;
    background-color: #CCD7E4;
}

/* Content pages (cp) */
.cp-navbar {
    background-color: #003c71!important;
}

.cp-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0;
}

.cp-link {
    color: #306885;
    text-decoration: underline;
}

.cp-link:hover {
    color: #528aa7;
}

.cp-pic{
    width: 175px;
    border-radius: 10%;
}

.cp-title, .cp-highlight-text, .cp-publication-title  {
    font-weight: 700;
    color: #003c71!important;
}

.cp-inline-title {
    font-size: 1.15rem;
    font-weight: 700;
    color: #003c71!important;
}

.cp-contact-info {
    padding-top: 10px;
    font-size: 1.15rem;
}

.cp-light {
    color: #AAAAAA;
}

.cp-shaded {
    color: #383d41;
    background-color: #dde8f6!important;
}

/* Badges */
.badge-journal {
    background: #c32b72;
}

.badge-proceedings {
    background: #196ca3;
}

.badge-misc {
    background: #606b70;
}

.badge-volume {
    background: #00cfbf;
}

/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #003c71;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}